{% extends 'parent.html' %}
{%block main%}
<ol class="breadcrumb">
    <li><span>分类管理</span></li>

</ol>
<table class="table table-hover .table-striped .table-bordered">
    <tr>
        <th>分类id</th>
        <th>分类名称</th>
        <th>用户操作</th>
    </tr>
    {% for category in categories %}
    <tr>
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td>
            <a href="/admin/category/edit?id={{category.id}}">修改</a>
            <a href="/admin/category/delete?id={{category.id}}">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>
<!--注意 被包含块的数据 也是在这里必须存在-->
{% include 'page.html' %}

{%endblock %}