{% extends 'parent.html' %}
{%block main%}
<ol class="breadcrumb">
    <li><a href="/admin/category">分类管理</a></li>
    <li><span>分类添加</span></li>
</ol>
<h3>分类名称</h3>
<!--如果不写提交地址，那么这里提交到的当前地址-->
<form method="post"/>
    <div class="form-group" action="/admin/cate"  method="post">
        <label for="name">分类名称</label>
        <input type="text" class="form-control" id="name" placeholder="请输入您要创建的分类名称" name="name">
    </div>
    <button type="submit" class="btn btn-default">提交</button>
</form>


{%endblock %}