<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/tools.css">
    {%block attachCss%}{%endblock%}
    <script src="public/js/jquery-3.1.1.js"></script>
    <script src="public/js/index.js"></script>

</head>
<body>
<header class="hd">
    <div class="hd-bcg"></div>
</header>
<div class="top-nav">
    <div class="top-nav-wrap">
        <div class="top-nav-inner">
            {% if !data.whichCategory %}
            <div class="top-nav-item top-nav-active">
                <a href="/" class="top-nav-link">
                    首页
                </a>
            </div>
            {% else %}
            <div class="top-nav-item">
                <a href="/" class="top-nav-link">
                    首页
                </a>
            </div>
            {% endif %}
            {% for category in categories %}
            {% if category.id == data.whichCategory %}
            <div class="top-nav-item top-nav-active">
                <a href="/?category={{category.id}}" class="top-nav-link">
                    {{category.name}}
                </a>
            </div>
            {% else %}
            <div class="top-nav-item">
                <a href="/?category={{category.id}}" class="top-nav-link">
                    {{category.name}}
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<section class="bd">
    <section class="main clearfix">
        <section class="content">
            {% block content %}{% endblock %}
        </section>
        {% if !offside %}
        <section class="side">
            {% if userInfo._id %}
            <div class="user-box side-box">
                <div class="side-item-wrap">
                    <div class="side-hd">
                        <h3>用户信息</h3>
                    </div>
                    <div class="side-content">
                        <div class="user-name">
                            {{ username }}
                        </div>
                    </div>
                    <div class="side-foot user-ft">
                        {% if userInfo.isAdmin %}
                        <span class="welcome">

                                    你好，管理员
                                    <a href="/admin">管理页面</a>
                                </span>

                        {% else %}
                        <span class="welcome">你好，欢迎光临我的博客</span>
                        {% endif %}

                    </div>
                    <div>
                        <a id="login-out">退出</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="login-box side-box ">
                <div class="side-item-wrap">
                    <div class="side-hd">
                        <h3>登录</h3>
                    </div>
                    <div class="side-content ">
                        <dl class="side-content-inp clearfix">
                            <dt class="side-inp-tip fl">
                                用户名:
                            </dt>
                            <dd class="side-inp-wrap fl">
                                <input type="text" class="user side-inp" name="username">
                            </dd>
                        </dl>
                        <dl class="side-content-inp clearfix">
                            <dt class="side-inp-tip fl">
                                密码:
                            </dt>
                            <dd class="side-inp-wrap fl">
                                <input type="text" class="user side-inp" name="password">
                            </dd>
                        </dl>
                        <dl class="side-content-inp clearfix ">
                            <dt class="side-inp-tip fl">

                            </dt>
                            <dd class="side-submit fl">
                                登录
                            </dd>
                        </dl>

                    </div>
                    <div class="side-foot login-ft">
                        <span>还没注册？</span>
                        <a href="javascript:;" class="register-btn">马上注册</a>
                    </div>
                    <div class="user-waring"></div>
                </div>
            </div>
            <div class="register-box side-box none">
                <div class="side-item-wrap">
                    <div class="side-hd">
                        <h3>注册</h3>
                    </div>
                    <div class="side-content ">
                        <dl class="side-content-inp clearfix">
                            <dt class="side-inp-tip fl">
                                用户名:
                            </dt>
                            <dd class="side-inp-wrap fl">
                                <input type="text" class="user side-inp" name="username">
                            </dd>
                        </dl>
                        <dl class="side-content-inp clearfix">
                            <dt class="side-inp-tip fl">
                                密码:
                            </dt>
                            <dd class="side-inp-wrap fl">
                                <input type="password" class="user side-inp" name="password">
                            </dd>
                        </dl>
                        <dl class="side-content-inp clearfix">
                            <dt class="side-inp-tip fl">
                                确认:
                            </dt>
                            <dd class="side-inp-wrap fl">
                                <input type="password" class="user side-inp" name="repassword">
                            </dd>
                        </dl>
                        <dl class="side-content-inp clearfix ">
                            <dt class="side-inp-tip fl">

                            </dt>
                            <dd class="side-submit fl">
                                注册
                            </dd>
                        </dl>

                    </div>
                    <div class="side-foot login-ft">
                        <span>已有帐号？</span>
                        <a href="javascript:;" class="login-btn">马上登录</a>
                    </div>
                    <div class="user-waring"></div>
                </div>
            </div>
            {% endif %}
            <div class="list-box side-box">
                <div class="side-item-wrap">
                    <div class="side-hd">
                        <h3>列表</h3>
                    </div>
                    <ul class="side-list">
                        <li class="side-list-item">
                            <a href="">这是第一项</a>
                        </li>
                        <li class="side-list-item">
                            <a href="">这是第二项</a>
                        </li>
                    </ul>
                </div>
            </div>

        </section>
        {% endif %}
    </section>
</section>
<script>
//    var pageNum = document.querySelector('.page-num');
//    var pageNumWidth = pageNum.offsetWidth;
//    pageNum.style["margin-left"] = -pageNumWidth/2 + 'px';
</script>
</body>
</html>